#search-div {
  position: relative;
}
#search-form {
  display: flex;
  flex-direction: column;
  padding: 4em;
  background-color: aquamarine;
}
#search-form h2 {
  text-align: center;
}
#search-form input {
  border-radius: 0.5em;
  padding: 0.6em;
  margin: 1em;
  border-style: none;
  width: 30%;
}
#search-form input:focus,
#search-form input:hover {
  outline: #3d44d9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
#search-form button {
  width: 15%;
  border-radius: 0.5em;
  padding: 0.6em;
  margin: 1em;
  border-style: none;
  cursor: pointer;
  background-image: linear-gradient(270deg, #3d44d9, #435ad9);
  color: aquamarine;
  transition: all 200ms linear;
}
#search-form button:hover {
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
#search-form section {
  display: flex;
  justify-content: center;
}

#search-div h2 {
  color: #3d44d9;
}

#search-output {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 10px;
  padding: 1em;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0.75em;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  /* height: 600px; */
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.headline:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: aquamarine;
}

.headline-img {
  text-align: center;
  margin: 0 auto;
  width: auto;
  height: 300px;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  /* border-top-left-radius: 0.5em; */
  /* border-top-right-radius: 0.5em; */
}

#search-output-div {
  border-radius: 2em;
}

#search-output img {
  object-fit: cover;
  width: 360px;
  height: 310px;
}
p#button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

button#save-search {
  /* position: relative;
    bottom: 0px; */
  width: 20%;
  border-radius: 0.5em;
  padding: 0.6em;
  margin-top: 1em;
  border-style: none;
  cursor: pointer;
  background-image: linear-gradient(270deg, #3d44d9, #435ad9);
  color: aquamarine;
  transition: all 200ms linear;
}
button#save-search:hover {
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#bgIMG {
  width: 100%;
  height: 300px;
}

#item-title {
  height: 60px;
  text-decoration: none;
}

#item-description {
  margin-top: 1em;
  height: 100px;
}

#item-source {
  margin-top: 1em;
  color: #3d44d9;
}
/* #search-items {
    height: 300px;
    overflow-x: hidden;
} */
.navbar {
  padding-top: 90px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px;
}

.navbar ul {
  display: flex !important;
  justify-content: space-around;
  flex-basis: auto;
}

.nav-link {
  margin: 10px;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.6em;
  margin-top: 1em;
  border-style: none;
  cursor: pointer;
}

.auth_wrapper button {
  border-radius: 0.5em;
  padding: 0.6em;
  margin: 1px;
  border-style: none;
  cursor: pointer;
  background-image: linear-gradient(270deg, #3d44d9, #435ad9);
  color: aquamarine;
  transition: all 200ms linear;
}

.auth_wrapper p {
  padding: 0.6em;
  margin: 2px;
  padding: 5px;
  border-style: none;
  cursor: pointer;
  color: #3d44d9;
  transition: all 200ms linear;
}

.auth_wrapper input {
  border-radius: 0.5em;
  padding: 0.6em;
  margin: 2px;
  padding: 5px;
  border-style: none;
  cursor: pointer;
  color: #3d44d9;
  transition: all 200ms linear;
}

.active {
  background-image: linear-gradient(270deg, #3d44d9, #435ad9);
  color: aquamarine;
  transition: all 200ms linear;
}
